<!DOCTYPE html>
<html>

<head>
  <title>Chat kachiai en Vue</title>
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div id="app">
    <div id="login" v-if="logged === false">
      <table>
        <tr>
          Nombre:
        </tr>
        <tr>
          <input type="text" v-model="username"></input>
        </tr>
        <tr>
          <input type="button" value="Conectarse" onclick="app.connect()"></input>
        </tr>
      </table>
    </div>
    <div id="chat" v-if="logged">
      <input type="text" v-model="content"></input>
      <input type="button" v-on:click="sendMessage" value="Enviar"></input>
      <div id="history">
        <!-- <textarea type="text" rows="5" disabled="true" v-model="conversation"></textarea> -->
        <div v-for="m in messages">
          [{{ m.localDateTime }}] <b>{{ m.username }}</b> : <i>{{ m.content }}</i>
        </div>
      </div>
    </div>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        username: '',
        logged: false,
        content: '',
        conversation: '',
        messages: [],
      },
      mounted() {
        if (localStorage.username) {
          this.username = localStorage.username;
          this.logged = true;
          setInterval(()=>{
            this.getMessages();
          },1000);
        } else {
          this.logged = false;
        }
      },
      methods: {
        humanizeURL: function (url) {
          return url
            .replace(/^https?:\/\//, '')
            .replace(/\/$/, '')
        },
        connect: function () {
          localStorage.username = this.username;
          this.logged = true;
          setInterval(()=>{
            this.getMessages();
          },1000);
        },
        getMessages() {
          const allPromesa = fetch("http://localhost:8080/messages");
          allPromesa.then(response => {
            response.json().then(data => {
              this.messages = data;
            });
          });
        },
        sendMessage: function () {
          const promesa = fetch("http://localhost:8080/messages", {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ username: this.username, content: this.content })
          });

        }
      }
    })
  </script>
</body>

</html>